/* Bootstrap custom styles */

.full-page-bg {
  height: 100vh;
  width: 100vw;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-style {
  height: 50vh;
  width: 50vw;
  background-color: #328CC1;
  border-radius: 15px;
  border: transparent;
}

.animated-card {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
}