/* Bootstrap custom styles */

.full-page-bg {
  height: 100vh;
  width: 100vw;
  background-color: #262228;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-style {
  margin-top: 20px;
  text-align: center;
}

.text-style {
  color: #efefef;
  font-weight: 500;
  text-align: center !important;
  margin-top: 20px !important;
  }

.login-text {
  color:#efefef;
  font-size: x-large !important;
  font-weight: 500;
  text-align: center !important;
  margin-top: 50px !important;
}

.username-style {
  background-color:#262228 !important;
  margin-top: 20px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #EFEFEF !important;
}

.password-style {
  background-color:#262228 !important;
  margin-top: 30px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #EFEFEF !important;
}

::placeholder {
  color: #EFEFEF !important;
  opacity: 1 !; 
}

.card-style {
  max-width: 400px !important;
  min-height: 600px !important;
  background-color:#262228 !important;
  border-style: solid !important;
  border-color:#efefef !important;
  border-radius: 15px;
  padding: 20px !important;
  text-align: center !important;
}

.animated-card {
  border-radius: 15px !important;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
  color:#EFEFEF;
}

.landing-btn {
  background-color: #0375B4 !important;
  color:#262228 !important;
  font-weight: bold !important;
  border-color:#0375B4 !important;
  width: 60%;
  margin-top: 30px !important;
  border-radius: 20px !important;
}

.landing-btn:hover {
  background-color:#262228 !important;
  color:#0375B4 !important;
  border-color:#0375B4 !important;
  border-width: 2px;
}

